:root {
    --bg-color:rgb(236, 235, 235);
    --primary-color:#ebc284;
    --secondary-color:rgb(0, 255, 234);
    --third-color:#aa6c42;
    --bg-input-color: white;    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.topheader {
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.topnav {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    padding: 0 20px;
    max-width: 100%;
    margin: auto;
    background-color:transparent;
}


.logo {
    display: flex;
    align-items: center;
    font-size: 1em;
    font-weight: bold;
    color: white;
}

.logo:hover{
    color: none;
    border: none;  
}


.logotype {
    display: flex;
    justify-content: center;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.logotype:hover {
    animation: tilt-n-move-shaking 0.5s infinite;
}

@keyframes tilt-n-move-shaking{
    0% { transform: translate(0,0) rotate(0deg);}
    25% { transform: translate(5px,5px) rotate(5deg);}
    50% { transform: translate(0,0) rotate(0deg);}
    75% { transform: translate(-5px,5px) rotate(-5deg);}
    100% { transform: translate(0,0) rotate(0deg);}
}

a {
    background-color: none;
    padding: 10px;
    color:white;
    text-decoration: none;
    font-size: 2.5em;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;  
}


h2 {
    letter-spacing: 1.5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 0.85em;  
    color:white;
    text-align: center;
}

body {
    background-color: var(--third-color);
    font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 3em;
}

.grid-item{
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #03afff;
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;

    /* border: solid 1px rgb(255 255 255); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.grid-item:hover {
    filter: opacity(0.9);
    transform: scale(1.04);
}

.grid-container {
    display: grid;
    /* se podrían poner anchos fijos de columnas 
    grid-template-columns: repeat(12, 250px);
    pero no seria responsive, por lo tanto usamos esto:
    grid-template-columns: repeat(auto-fill, 250px);
    pero seguimos teniendo anchos fijos de columna
    
    lo solucionamos con esto*/

    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    grid-auto-rows: minmax(200px,auto);
    /*margen entre las celdas*/
    gap: 20px;
    /* margen exterior de la tabla*/
    padding: 20px;
    /* para que no queden espacios en blanco cuando se toman mas de una celda para la imagen */
    grid-auto-flow: dense;
}

/* esto permite que para celulares las imagenes se apilen en una sola columna */
@media (min-width: 600px) {
    .wide {
        grid-column: span 2;
    }

    .tall {
        grid-row: span 2;
    }
}